[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests="*"
pytest="*"
pyyaml="*"
confluent_kafka = "*"
avro-python3 = "*"
boto3 = "*"
alpaca_trade_api = "*"

[requires]
python_version = "3.7"
